include ../mixins/sub-menu.pug
// Top Header
.top-header
    .container
        .inner-wrap
            if(infoWebsite.phone)
            .inner-item
                i.fa-solid.fa-phone
                | #{infoWebsite.phone}
            if(infoWebsite.email)
            .inner-item
                i.fa-solid.fa-envelope
                | #{infoWebsite.email}
            if(infoWebsite.address)
            .inner-item
                i.fa-solid.fa-building
                | #{infoWebsite.address}
// End Top Header
// Header
header.header
    .container
        .inner-wrap
            button.inner-menu-mobile
                i.fa-solid.fa-bars
            .inner-logo
                a(href="/")
                    img(
                        alt=infoWebsite.websiteName
                        src=infoWebsite.logo
                        )
            nav.inner-menu
                ul
                    li
                        a.active(href="/") Trang chủ
                    +sub-menu(listCategory)
                    li
                        a(href="#") Tin tức
                    li
                        a(href="#") Liên hệ
                .inner-overlay
            .inner-cart
                a(href="/cart")
                    img(
                        alt="Cart" 
                        src="/assets/images/icon-cart.svg"
                        )
                    span 1
