extends ../layouts/default.pug
include ../mixins/box-breadcrumb.pug

block main
  // Breadcrumb
  -
    var breadcrumb = {
      images: "/assets/images/banner-7.jpg",
      title: "Tour Hà Nội - Ninh Bình - Hạ Long - Yên tử - Sapa | 6N5Đ",
      list: [
        {
          link: "/tours",
          title: "Tour nước ngoài"
        },
        {
          link: "/",
          title: "Trang chủ"
        },
        {
          link: "/tours",
          title: "Tour trong nước"
        }
      ]
    }
  .box-breadcrumb
    .inner-image
      img(
        alt=breadcrumb.title
        src=breadcrumb.images
        )
    .inner-content
      .container
        h1.inner-title #{breadcrumb.title}
        .inner-list
          each item in breadcrumb.list
            a(href=item.link) #{item.title}
  // End Breadcrumb

  // Section 10
  .section-10
    .container
      .inner-wrap
        .inner-left
          .box-images
            .inner-images-main
              .swiper.swiper-box-images-main
                .swiper-wrapper
                  .swiper-slide 
                    .inner-image
                      img(
                        alt="" 
                        src="/assets/images/banner-9.png"
                        )
            
                  .swiper-slide
                    .inner-image
                      img(
                        alt="" 
                        src="/assets/images/banner-10.png"
                        )
          .box-tour-info
            .inner-title Thông Tin Tour
            .inner-content ABC....
            .inner-read-more
              button.button-outline Xem tất cả
          .box-tour-schedule
            .inner-title-main Lịch Trình Tour
            .inner-list
              .inner-item
                .inner-title ABC...
                .inner-content ABC....
        .inner-right
          .box-tour-detail
            .inner-title-main Chuyến Đi Của Bạn
            .inner-product
              .inner-image
                img(
                  alt="" 
                  src="/assets/images/banner-10.png"
                  )
              .inner-info
                .inner-title ABC...
                .inner-rating
                  .inner-stars
                    i.fa-solid.fa-star
                    i.fa-solid.fa-star
                    i.fa-solid.fa-star
                    i.fa-solid.fa-star
                    i.fa-solid.fa-star
                  .inner-number 500 lượt đánh giá
            .inner-meta
              //- .inner-item
              //-   i.fa-solid.fa-ticket-simple
              //-   span Mã Tour:
              //-   span.inner-highlight 28T00001
              .inner-item
                i.fa-solid.fa-calendar-days
                span Thời Gian:
                span.inner-highlight ABC...
              .inner-item
                i.fa-solid.fa-truck-plane
                span Phương Tiện:
                span.inner-highlight ABC...
              .inner-item
                i.fa-solid.fa-calendar-days
                span Ngày Khởi Hành:
                span.inner-highlight ABC...
            .inner-form
              label.inner-label Khởi Hành Tại:
              select()
                option(value="") ABC....
                option(value="") ABC...

            .inner-quantity
              label.inner-label Số Lượng Hành Khách
              .inner-list
                .inner-item
                  .inner-item-label Người lớn:
                  .inner-item-input
                    input(
                      value="1" 
                      min="0" 
                      type="number"
                      )
                  .inner-item-price
                    span(stock-adult) 1
                    span x
                    span.inner-highlight 100
                .inner-item
                  .inner-item-label Trẻ em:
                  .inner-item-input
                    input(
                      value="0" 
                      min="0" 
                      type="number"
                  
                      )
                  .inner-item-price
                    span(stock-children) 0
                    span x
                    span.inner-highlight 200
                .inner-item
                  .inner-item-label Em bé:
                  .inner-item-input
                    input(
                      value="0" 
                      min="0" 
                      
                      type="number"
          
                      )
                  .inner-item-price
                    span(stock-baby) 0
                    span x
                    span.inner-highlight 100
            .inner-total
              .inner-total-label Tổng cộng:
              .inner-total-price
                span(total-price) 1000
                span đ
            button.inner-button-add-cart() Thêm Vào Giỏ Hàng
  // End Section 10